# Data Science Tools and Ecosystem

In this notebook, datascience tools and Escosystems are summarized

###### Objectives
* List popular languages for dts
* List popular libraries in dts 
* Create a table of popular IDE's
* Write examples of arithmetic expressions 
* Share knowledge with others

Some popular languages of data science are: 
1. Python 
2. R
3. Julia

Some of the commonly used libraries in data science are (python language):
1. Pandas 
2. Numpy 
3. Matplotlib 
4. Seaborn 
5. Sklearn

In [2]:
#Example using code
import pandas as pd 
list1 = 'VisualStudio Jupyter Spyder RStudio'.split()
fr = pd.DataFrame(list1)
fr.columns = ['Data Science tools']
fr

  Data Science tools
0       VisualStudio
1            Jupyter
2             Spyder
3            RStudio

### THe following uses no code, just markdow

| Data Science tools |
| --- |
| Visual Studio |
| Jupyter |
|Spyder| 
|RStudio|

### Bellow are a few examples of evaluating arithmetic expressions in python

In [4]:
#This is a simple arithmetic expression to multiply and add numbers
(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by dividing by 60
def mintoh(x):
    st = x/60
    return st
minu = 200
f'{minu} minutes to hours are {mintoh(minu)} hours'

'200 minutes to hours are 3.3333333333333335 hours'

## Author 
Josue Medina Campero